dist/
node_modules/
vite.config.js
vite.config.d.ts
*.log
.DS_Store
.env
.env.local
.env.production
.vscode/
tsconfig.tsbuildinfo
tsconfig.node.tsbuildinfo
public/videos/
public/docs/ville/municipalite/municipalite-classeur-source.pdf